<!-- <md-card class="mainContainer">
  <md-card-content>
    <div>
      <b>{{msShareService.get('navMap').q1a.descr1}}</b>
    </div>
    <br/>
    <div>
      <b>{{msShareService.get('navMap').q1a.descr2}}</b>
    </div>
  </md-card-content>
    <p><b>{{msShareService.get('navMap').q1a.text}}</b></p>
    <md-radio-button (change)="rb($event)" [value]="option" name="group1" *ngFor="let option of msShareService.get('navMap').q1a.options">{{option.text}}</md-radio-button>
    <app-navigate [source] = "source"></app-navigate>
</md-card> -->