<md-card class="mainContainer">
  <md-card-content>
    <div class="bodyText">
      <br />When you move about, how often do you use any of the following?
      <br />
    </div>
    <table class="table1" >
      <tr>
        <th></th>
        <th>Never or rarely</th>
        <th>Sometimes</th>
        <th>Less than half the time</th>
        <th>More than half the time</th>
        <th>All the time or almost all of the time</th>
      </tr>
      <tr>
        <td>A cane, crutch, or someone to hold on to.</td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
      </tr>
      <tr>
        <td>A walker or other bilateral support.</td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
      </tr>
        <tr>
        <td>A wheel chair</td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
        <td><md-checkbox class="example-margin"></md-checkbox></td>
      </tr>
      </table>
    <div class="button-row btnPanel">
      <button md-button color="primary">Back</button>
      <button md-button color="primary">Stop And Save</button>
      <button md-button color="primary">Next</button>
    </div>
  </md-card-content>
</md-card>