<md-card class="mainContainer">
  <md-card-content>
    <div class="bodyText">
      <br /> How far can you walk without needing to use an aid (cane, crutch, walker)? <span class="alertTxt">*</span>
      <br />
    </div>
  
  <md-list>
    <md-list-item>
      <md-checkbox class="example-margin">More than 1500 feet, 500 meters or about five football fields</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox class="example-margin">About 900 to 1500 feet, 300-5 meters or about 3 football fields</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox class="example-margin">About 600 to 899 feet, 200 meters or about 2 football fields</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox class="example-margin"> About 300 to 599 feet, 100 meters or about 1 football field</md-checkbox>
    </md-list-item>
  </md-list>
  <div class="button-row btnPanel">
    <button md-button color="primary">Back</button>
    <button md-button color="primary">Stop And Save</button>
    <button md-button color="primary">Next</button>
  </div>
  </md-card-content>
</md-card>