<md-card class="mainContainer">
  <md-card-content>
    <div class="bodyText">
      <br /> When I use an aid (cane, crutch, walker), I can walk:
      <br />
    </div>
  
  <md-list>
    <md-list-item>
      <md-checkbox class="example-margin">About 300 to 400 feet, 120 meters or about 1 football field</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox class="example-margin">About 150 to 299 feet or 50 meterss</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox class="example-margin">About 50 to 149 feet or 20 meters</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox class="example-margin"> About 15 to 50 feet or 20 meters</md-checkbox>
    </md-list-item>
    <md-list-item>
      <md-checkbox class="example-margin"> Less than 15 feet or 5 meters</md-checkbox>
    </md-list-item>
  </md-list>
  <div class="button-row btnPanel">
    <button md-button color="primary">Back</button>
    <button md-button color="primary">Stop And Save</button>
    <button md-button color="primary">Next</button>
  </div>
  </md-card-content>
</md-card>