.loader-overlay{
   justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
     background: rgba(0, 0, 0, 0.6);
    opacity: 0.48;
}
