<md-card class="mainContainer">
<md-card-content>
    <div >
      <b>The first set of questions will ask about symptoms you might be experiencing. The experience of everyone with MS is different,
              and you may not experience all of the symptoms that we ask about.</b>
    </div>

    <br/>
    <div>
     <b> Please try your best to answer according to the choices available in each question. You may skip any questions you don't
      wish to answer. However, we may not be able to calculate your EDSS score if there is missing information.</b>
    </div>
    </md-card-content>
  <md-card-content>
    <p> <b> Which of the following best describes your ability to walk? </b></p>

    <md-list>
      <md-list-item>
        <md-checkbox class="example-margin">I can walk without any problem</md-checkbox>
      </md-list-item>
      <md-list-item>
        <md-checkbox class="example-margin">I have some difficulties with walking, but can walk without aid</md-checkbox>
      </md-list-item>
      <md-list-item>
        <md-checkbox class="example-margin">I require a cane, crutch, or other aid to walk</md-checkbox>
      </md-list-item>
      <md-list-item>
        <md-checkbox class="example-margin">I require a wheelchair for almost all activities</md-checkbox>
      </md-list-item>
      <md-list-item>
        <md-checkbox class="example-margin">I am confined to bed most of the time</md-checkbox>
      </md-list-item>
    </md-list>
    <div class="button-row btnPanel">
      <button md-button color="primary">Back</button>
      <button md-button color="primary">Stop And Save</button>
      <button md-button color="primary">Next</button>
    </div>

  </md-card-content>
</md-card>