<md-card class="mainContainer">
  <div class="bodyText">
    <br /> Do you have any of the problems below?
  </div>

  <md-list>
    <md-list-item>
      a. Change in feeling (e.g. tingling, numbness) in hands, feet, arms or legs?
    </md-list-item>
    <md-list-item>
      <md-radio-group>
        <md-radio-button value="1">Yes</md-radio-button>
        <md-radio-button value="0">No</md-radio-button>
      </md-radio-group>
    </md-list-item>
    <md-list-item>
      b. Weakness in arms or legs?
    </md-list-item>
    <md-list-item>
      <md-radio-group>
        <md-radio-button value="1">Yes</md-radio-button>
        <md-radio-button value="0">No</md-radio-button>
      </md-radio-group>
    </md-list-item>
    <md-list-item>
      c. Spasms (brief muscle contractions) or stiffness (spasticity) in arms or legs?
    </md-list-item>
    <md-list-item>
      <md-radio-group>
        <md-radio-button value="1">Yes</md-radio-button>
        <md-radio-button value="0">No</md-radio-button>
      </md-radio-group>
    </md-list-item>
    <md-list-item>
      d. Swaying or losing balance when sitting, standing, or walking?
    </md-list-item>
    <md-list-item>
      <md-radio-group>
        <md-radio-button value="1">Yes</md-radio-button>
        <md-radio-button value="0">No</md-radio-button>
      </md-radio-group>
    </md-list-item>
    <md-list-item>
      e. Clumsiness or tremors in arms or legs?
    </md-list-item>
    <md-list-item>
      <md-radio-group>
        <md-radio-button value="1">Yes</md-radio-button>
        <md-radio-button value="0">No</md-radio-button>
      </md-radio-group>
    </md-list-item>
    <md-list-item>
      f. Weakness of muscles in your face?
    </md-list-item>
    <md-list-item>
      <md-radio-group>
        <md-radio-button value="1">Yes</md-radio-button>
        <md-radio-button value="0">No</md-radio-button>
      </md-radio-group>
    </md-list-item>
  <md-list-item>
    g. Numbness in your face?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  <md-list-item>
    h. Blurry vision or blind spots?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  <md-list-item>
    i. Double vision?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  <md-list-item>
    j. Problems with hearing?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  <md-list-item>
    k. Problems with voice?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  <md-list-item>
    l. Problems with swallowing?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  <md-list-item>
    m. Constipation or loss of bowel control?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  <md-list-item>
    n. Loss of bladder control or leakage?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  <md-list-item>
    o. Difficulty starting to urinate?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  <md-list-item>
   p. Concentration, memory, or thinking problems?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  <md-list-item>
   p. Concentration, memory, or thinking problems?
  </md-list-item>
  <md-list-item>
    <md-radio-group>
      <md-radio-button value="1">Yes</md-radio-button>
      <md-radio-button value="0">No</md-radio-button>
    </md-radio-group>
  </md-list-item>
  </md-list>
  <div class="button-row btnPanel">
    <button md-button color="primary">Back</button>
    <button md-button color="primary">Stop And Save</button>
    <button md-button color="primary">Next</button>
  </div>

</md-card>